.margin-left-small {
  margin-left: 6px; }

.margin-left-medium {
  margin-left: 12px; }

.margin-left-large {
  margin-left: 24px; }

.hidden {
  display: none; }

.float-right {
  float: right; }

.float-left {
  float: left; }

body,
html {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

nav {
  background-color: #34495e; }
  nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px; }

.icon-circle {
  border-radius: 100px;
  display: inline-block;
  height: 10px;
  margin-left: 5px;
  width: 10px; }

.btn {
  background-color: #fff;
  border: none;
  padding: 10px 20px; }
  .btn-primary {
    color: #334257;
    border: 2px solid #34495e; }
    .btn-primary :hover {
      background-color: #2b3c4e; }
  .btn-danger {
    color: #E74C3C;
    border: 2px solid #E74C3C; }
    .btn-danger :hover {
      border: 2px solid #e43725; }
  .btn-default {
    color: #47A2DE;
    border: 2px solid #47A2DE; }
    .btn-default :hover {
      border: 2px solid #3197da; }

.chip {
  background-color: #e4e4e4;
  border-radius: 16px;
  color: #656565;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  height: 32px;
  line-height: 32px;
  margin-bottom: 5px;
  padding: 0 12px; }
  .chip:hover {
    background-color: darker(#e4e4e4, 10%); }

.card {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  margin: 20px auto 0 auto;
  width: 960px;
  padding: 10px; }
  .card h1 {
    margin-top: 0; }

@media screen and (max-width: 1024px) {
  .card {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px); } }

input {
  border-radius: 3px;
  color: #7f8c8d;
  border: none;
  outline: none; }

.search-results {
  position: absolute;
  z-index: 2;
  top: 150px;
  width: 1040px;
  left: 0;
  right: 0;
  margin: 10px auto 0 auto;
  display: flex;
  justify-content: space-between; }

.planner-search-title {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #fff;
  font-size: 23px;
  font-weight: 500; }

.planner-search-result-preview {
  padding-bottom: 10px; }

.planner-search-bar {
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: white;
  width: 960px;
  left: 0;
  right: 0;
  margin: 10px auto 0 auto;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }
  .planner-search-bar .search-input {
    padding: 15px;
    width: calc(100% - 40px); }
  .planner-search-bar #search-button {
    margin-left: 10px; }

.result--item {
  background-color: white;
  border-radius: 3px;
  width: 220px;
  text-align: center;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  position: relative;
  height: 300px; }
  .result--item--image {
    border-radius: 3px 3px 0 0;
    width: 100%;
    max-height: 125px;
    overflow: hidden; }
  .result--item--details {
    padding-left: 5px;
    padding-right: 5px; }
    .result--item--details--title {
      font-size: 15px; }
    .result--item--details--description {
      font-size: 13px;
      color: #B6C2D3; }
  .result--item--actions {
    position: absolute;
    justify-content: space-around;
    color: #34495E;
    text-transform: capitalize;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin: 20px 0 0 0; }
    .result--item--actions section {
      width: 50%;
      display: inline-block;
      text-align: right;
      cursor: pointer; }
      .result--item--actions section:first-child {
        text-align: left; }

.result-detail {
  background-color: white;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  position: relative;
  height: 300px; }
  .result-detail__image {
    width: 300px;
    overflow: hidden;
    height: 100%;
    display: inline-block; }
  .result-detail__details {
    width: calc(100% - 300px);
    height: 100%;
    padding: 0 10px;
    float: right;
    text-align: left; }
  .result-detail__buttons {
    position: absolute;
    bottom: 10px;
    right: 10px; }
  .result-detail__close {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; }
  .result-detail__button--first {
    margin-right: 10px; }

.search-input {
  font-size: 16px; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  min-height: 100%; }

.bg-red {
  background-color: #f44336; }

.bg-pink {
  background-color: #e91e63; }

.bg-purple {
  background-color: #9c27b0; }

.bg-deep-purple {
  background-color: #673ab7; }

.bg-indigo {
  background-color: #3f51b5; }

.bg-blue {
  background-color: #2196f3; }

.bg-light-blue {
  background-color: #03a9f4; }

.bg-cyan {
  background-color: #00bcd4; }

.bg-teal {
  background-color: #009688; }

.bg-green {
  background-color: #4caf50; }

.bg-light-green {
  background-color: #8bc34a; }

.bg-lime {
  background-color: #cddc39; }

.bg-yellow {
  background-color: #ffeb3b; }

.bg-amber {
  background-color: #ffc107; }

.bg-orange {
  background-color: #f39c12; }

.bg-deep-orange {
  background-color: #ff5722; }

.bg-brown {
  background-color: #795548; }

.bg-grey {
  background-color: #9e9e9e; }

.bg-blue-gray {
  background-color: #607d8b; }
