$btn-primary: #334257;
$btn-danger: #E74C3C;
$btn-default: #47A2DE;

.btn {
  background-color: $white;
  border: none;
  padding: 10px 20px;

  &-primary {
    color: $btn-primary;
    border: 2px solid $wet-asphalt;

    :hover {
      background-color: darken($wet-asphalt, 5);
    }
  }
  &-danger {
    color: $btn-danger;
    border: 2px solid $btn-danger;

    :hover {
      border: 2px solid darken($btn-danger, 5);
    }
  }
  &-default {
    color: $btn-default;
    border: 2px solid $btn-default;

    :hover {
      border: 2px solid darken($btn-default, 5);
    }
  }
}