.card {
  @include card;
  margin: 20px auto 0 auto;
  width: 960px;
  padding: 10px;


  h1{
    margin-top: 0;
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .card {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
  }
}
