.result-item-detail {
  margin-top: 10px;

  &-image {
    display: inline-block;
    width: 250px;

    img {
      width: 100%;
    }
  }

  &-description {
    margin-left: 10px;
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 260px);

    p{
      margin: 0;
      color: $asbestos;
    }
  }
}

